{{!-- set up so it cal be used by handlebars --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-Dat-Burger</title>
  <link rel="stylesheet" href="../public/assets/css/burger_style.css" media="screen" title="no title">
  
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{!-- three curly brackets means it'll parse as html --}}
  {{{ body }}}
</body>
</html>