
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group uneaten-list">
          {{!-- iterated through array of burgers --}}
          {{!-- TODO get array from api-routes? --}}
          {{#each burgers}}
          <li>
            <p>
              {{this.burger_name}}
            </p>
            <button class="devour" id="{{this.id}}">DEVOUR</button>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group eaten-list">
          <li>
            <p>
              Hello?
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      {{!-- input for new burg --}}
    </div>
  </div>
